.venv
pycache/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.env
openai_key.txt
*.png
*.jpg
*.jpeg
*.gif
screenshots/
*.log
*.md
kill_streamlit_by_port.sh
run_app.sh
.DS_Store
.envrc
*.zip
*.tar.gz
node_modules
.git
.gitignore